table{
    width: 50%;
    text-align: center;
    margin: auto;
    border-collapse: collapse;

}
table,th,td{
    border: 1px solid black;
}
th{
    height: 75px;
}
td{
    height: 35px;
}
tr:nth-child(odd){
    background-color: aqua;
}
tr:nth-child(even){
    background-color: chartreuse;
}
tr:hover{
    background-color: fuchsia;
}